.ok-message {
    color: seagreen;
    font-size: 110%;
}

.err-message {
    color: tomato;
    font-size: 110%;
}

table.users-table {
    border-collapse: collapse;
}

table.users-table>*>tr>td, table.users-table>*>tr>th {
    border: 1px solid black;
    padding: 5px;
}
